@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="text-center my-5">
    <h1 class="text-danger display-4">Erişim Engellendi</h1>
    <p class="lead">Bu sayfaya erişmek için gerekli izne sahip değilsiniz.</p>
    <hr />
    <p>
        Bu sayfaya erişmek için lütfen <a asp-controller="Hesap" asp-action="Giris">giriş yapın</a> veya 
        <a asp-controller="Home" asp-action="Index">ana sayfaya dönün</a>.
    </p>
</div> 